<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"> 
        <title> {% block title %} {% endblock %} </title> 
        <link rel="stylesheet" href=" {{ url_for('static', filename='styles.css') }} ">
    </head>

    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>
