{% extends 'base.html' %}
{% from 'macros.html' import topic_card with context%}
{% block title %} Home Page {% endblock %}

{% block content %}
    <h1> Team Assignment 2 </h1>
    <section id="clients">
        <section class="client1">
            <h2> Client 1 </h2>
            <div class="topics-section">
                {% for data in data_list_c1 %}
                    {{ topic_card(data.motion, data.weather, data) }}
                {% endfor %}
            </div>
        </section>
    
        <section class="client2">
            <h2> Client 2 </h2>
            <div class="topics-section">
                {% for data in data_list_c2 %}
                    {{ topic_card(data.motion, data.weather, data) }}
                {% endfor %}
            </div>
        </section>
    </section>

{% endblock  %}
