{% macro topic_card(motion, weather, data) %}

<div class="topic-card">
    <div class="topic-header">
        {% if motion.detection.type == 'motion' %}
            <h4> Red Light at {{weather.datetime[1]}} </h4>
            <img src="{{url_for('static', filename='siren.png') }}" alt="Red Light Icon">
        {% else %}
            <h4> Car Crash at {{weather.datetime[1]}} </h4>
            <img src="{{url_for('static', filename='car-collision.png') }}" alt="Car Collision Icon">
        {% endif %}
        
    </div>
    <h4> {{weather.postal_code}} </h4>
    <p>Image path: {{data.image}}</p>
    <div class="weather-div">
        <p> {{weather.datetime[0]}} </p>
        {{ weather_card(weather.temperature, weather.condition.type, weather.condition.intensity) }}
    </div>
</div>
{% endmacro %}

{% macro weather_card(temp, type, intensity) %}
<div class="weather-card">
    
    {% if intensity == 'n/a' %}
        {% if type == 'Sunny' %}
            <img src="{{url_for('static', filename='sunny.png' ) }}" alt="weather icon" >
        {% else %}
            <img src="{{url_for('static', filename='cloudy.png' ) }}" alt="weather icon" >
        {% endif %}
    {% else %}
        {% if type == 'Snowfall'%}
            <img src="{{url_for('static', filename='snowfall.png' ) }}" alt="weather icon" >
        {% else %}
            <img src="{{url_for('static', filename='rain.png' ) }}" alt="weather icon" >
        {% endif %}
    {% endif %}

    <div class="weather-temp">
        <h4>{{temp}}&deg;C</h4>
        <p>{{intensity}} {{type}}</p>
    </div>
</div>
{% endmacro %}