@import url('https://fonts.googleapis.com/css2?family=Sono:wght@450&display=swap');

*{
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-width: 600px;
  padding: 5px;
  overflow: auto;
  color: rgb(15, 21, 64)
}


h1, h2{ 
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}

h1{
  font-size: 40px;
}

h2{
  font-size: 35px;
}

#clients {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  padding: 5px;
}

.client1, .client2{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  border: outset rgba(131, 145, 207, 0.11) 2px ;
  border-radius: 15px;
  margin: 10px;

  background-color: aliceblue;
}

.client1 h2, .client2 h2{
  margin: 10px;
}

.topics-section{
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  max-width:100%;
  overflow: hidden;
}

.topic-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: outset rgba(131, 145, 207, 0.11) 1px;
  background-color: rgb(248, 250, 250);
  border-radius: 15px;
  max-width: 100%;
  overflow: hidden;
  margin: 15px;
  padding: 20px;
}

.topic-header h4 {
  font-family: Sono, sans-serif;
  font-size: 20px;
}

.topic-header{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

img{
  width: 100px;
  height: 100px;
  padding: 5px;
  margin: 15px;
}

.weather-div{
  display: flex;
  flex-direction: column;
  border: outset rgba(131, 145, 207, 0.11) 1px ;
  border-radius: 25px;
  background-color: rgb(118, 184, 255);
  align-items: center;
  width: 100%;
  padding: 10px;
  min-width: 300px;
  max-height: 400px;
}

.weather-div p {
  font-family: Sono, serif;
  font-size: 25px;
  letter-spacing: 2px;
  text-align: center;
}

.weather-card{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  overflow: hidden;
  padding: 10px;
}

.weather-card img{
  max-width: 50%;
  max-height: 50%;
  min-width: 150px;
  min-height: 150px;
} 

.weather-temp{
  display: flex;
  flex-flow: column wrap;
  justify-content:stretch;
  align-items: center;
  max-width: 70%;
  overflow: hidden;
  word-wrap: break-word;

}

.weather-card h4{
  font-family: Sono, serif;
  font-size: 40px;
  letter-spacing: 2px;
}

.weather-temp p{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 25px;
}
